.status {
    position: fixed;
    right: -10px;
    width: 140px;
}
.status__solar,
.status__row {
    margin-bottom: 5px;
    width: 100%;
}
.status__solar {
    top: 30%;
}
.status__row {
    top: 35%;
}
.status__solar-info,
.status__row-info {
    text-align: right;
}
.pagination-page-info {
    padding: .6em;
    padding-left: 0;
    width: 40em;
    margin: .5em;
    margin-left: 0;
    font-size: 1.2rem;
}
.pagination-page-info::first-letter {
    font-size: inherit;
    font-weight: 700;
    text-transform: uppercase;
}
.pagination-page-info::after {
    content: ".";
    font-weight: 700;
}
.pagination-page-info b {
    color: black;
    padding-left: 2px;
    padding: .1em .25em;
}
.fixed {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}
.query {
    cursor: pointer;
}
.query:hover {
    text-decoration: underline;
}
.footer {
    margin-bottom: 0;
}