{% extends 'base.html' %}
 
{% block container %}

  {{ pagination.info }} 
  {{ pagination.links }} 
  <table class="table table-striped table-bordered table-hover">
    <thead class="table-secondary">
      <tr class="text-center">
        <th>#</th>
        <th>Authors</th>
        <th>Title</th>
        <th>DOI</th
      </tr>
    </thead>
    <tbody>
      {% for paper in papers %}
        <tr id="{{ solar }}-{{ loop.index + pagination.skip - 1 }}">
          <td>{{ loop.index + pagination.skip }}</td>
          <td>{{ paper.Authors.split(";")[0] }} et al.</td>
          <td class="query">{{ paper.DOI }}</td>
          <td class="query">{{ paper.Title }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {{ pagination.links }}
{% endblock %}
