{% extends 'base.html' %}
 
{% block container %}
  {{ pagination.info }}
  {{ pagination.links }}
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr class="text-center">
        <th>#</th>
        <th>Authors</th>
        <th>Title</th>
        <th>DOI</th
      </tr>
    </thead>
    <tbody>
      {% for paper in papers %}
        <tr>
          <td>{{ loop.index + pagination.skip }}</td>
          <td>{{ paper.Authors.split(";")[0] }} et al.</td>
          <td>{{ paper.Title }}</td>
          <td>{{ paper.DOI }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {{ pagination.links }}
{% endblock %}